body {
    font-family: 'Muli', sans-serif;
}
a {
    color: white !important;
  }
.navbar-nav li a {
    font-size: 1.2rem;
}
.navbar-brand {
    width: 50%;
}

.section1 {
    background: url("../img/1.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    height: 100vh;
}

.MenuCont {
    color:white;
    padding: 20px 0;
}
.MenuCont .barmenu {
    cursor: pointer;
}
.MenuDes {
    z-index: 1000;
    position: fixed;
    width: 25%;
    background: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    left: 75%;
    top:0;
    display:none;
}
.MenuDes .itemMenu ul {
    list-style: none;
}
.MenuDes .itemMenu {
    padding: 20px 2%;
    color:#212529;
}
.MenuDes .close {
    cursor: pointer;
}
.MenuDes .itemMenu ul li {
    margin: 20px 0;
    cursor: pointer;
}
.MenuDes .itemMenu ul li:hover {
    color:red;
}
.MenuDes .itemMenu ul li .active {
    color:red;
}
.titlemenu {
    padding-top: 180px;
    color:white;
    display:flex;
    justify-content: center;
    
}
.titlemenu .title {
    width: 70%;
}

#about {
    background: #17172d;
    color:white;
}

#about .backgroundleft {
    background: url("../img/22.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 80vh;
}

#about .backrigth {
    padding: 50px 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#pilots {
    background: url("../img/sec2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color:white;
    padding: 30px 0;
}
#pilots hr {
    width: 10%;
    border-top:2px solid white;
}

#pilots .pilotitem {
    border:1px solid white;
}
footer {
    background: black;
    color:white;
}

@media (max-width: 600px) {
    .MenuDes {
        z-index: 1000;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top:0;
    }    
  }